


.header-div{
    padding: 20px 10px;
    position: relative;
}
.header-div a{
    text-decoration: none;
    color: grey;
    margin: 0 25px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
    transition: all 0.2s ease;
}
.header-div a:hover {
    color: black;
}
.header-div a.active{
    background: #292929;
    border-radius: 3px;
    color: white;
    box-shadow: 0 10px 12px rgba(0,0,0,0.5);
}


@media only screen and (max-width:767px){
    .header-main-parent{
        background: rgba(41, 41, 41, 0.519);
        position: fixed;
        top: 0;
        left: 500%;
        width: 100%;
        height: 100%;
        z-index: 50;
        transition: all 0.3 ease;
    }
    .header-main{
        position: absolute;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        height: 100vh;
        width: 70%;
    }

    .header-icon{
        position: fixed;
        background: white;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 15px;
    }
    .header-icon span{
        font-size: 30px;
        cursor: pointer;
    }
}