

.myServices-div{
    width: 90%;
    margin: 0 auto;
}
.wedding-packages-div{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 25px;
}