



.product-img-parent{
    border: 5px solid #253745 ;
    padding: 25px ;
    background: white;
    margin: auto;
    position: relative;
    width: 300px;
    height: 335px;
    overflow: hidden;
    cursor: pointer;
}
.product-img{
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
}
.product-img img{
    width: 100%;
    z-index: 50;
}

.product-first-div{
    background: rgba(255, 255, 255, 0.358);
    z-index: 100;
    position: absolute;
    top: -250px;
    left: 25px;
    right: 25px;
    border-top: 3px solid #253745;
    border-left: 3px solid #253745;
    border-right: 3px solid #253745;
    transition: all 0.3s;
    height: 139px;
}
.product-second-div{
    background: rgba(255, 255, 255, 0.358);
    z-index: 100;
    position: absolute;
    bottom: -250px;
    left: 25px;
    right: 25px;
    border-bottom: 3px solid #253745;
    border-left: 3px solid #253745;
    border-right: 3px solid #253745;
    transition: all 0.3s;
    height: 139px;
}
.product-img-parent:hover .product-first-div{
    top: 25px;
}
.product-img-parent:hover .product-second-div{
    bottom: 25px;
}

/* .product-first-div.active{
    top: 25px;
} */