
.product-card-parent-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;
}

.cart-calculation p{
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
}