

.banner-div{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    border: 2px solid #ccc;
    border-radius: 10px;
    /* width: 90%; */
    margin: auto;
    padding: 0 10px;
}
.banner-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-right img{
    width: 500px;
}