

.footer-bottom img{
    width: 30px;
}

.footer{
    padding: 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}
.social-div{
    border: 3px solid #2a2a2a;
    width: 50px ;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.first-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.second-logo{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.social-div:hover .first-logo{
    top: -50%;
}
.social-div:hover .second-logo{
    top: 50%;
}