

.footer-bottom img{
    width: 30px;
}

.footer{
    padding: 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-div{
    border: 3px solid #2a2a2a;
    width: 50px ;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fb-icon:hover{
    background: blue;
    color: white;
}